@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');
*{
  /* background-color:#0a2a4d; */
  margin: 0;
  padding: 0;
  line-height: 1.4rem;
  font-family: 'Noto Sans JP', sans-serif;
}

a{
  text-decoration: none;
  color: white;
}
a:hover{
  color:white
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.MuiCard{
  background-color: teal;
}
.MuiCard-root{
  background-color: teal;
}